{
	"singleQuote": false,
	"jsxSingleQuote": false,
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "always",
	"trailingComma": "none",
	"printWidth": 140,
	"endOfLine": "auto"
}
