{

	"plugins": [
		[
			"@semantic-release/commit-analyzer",
			{
				"preset": "conventionalcommits",
				"releaseRules": [
					{
						"type": "chore",
						"release": "patch"
					}
				]
			}
		],
		"@semantic-release/release-notes-generator",
		"@semantic-release/github",
		[
			"@semantic-release/npm",
			{
				"npmPublish": true
			}
		],
		[
			"@semantic-release/git",
			{
				"assets": [
					"package.json"
				],
				"message": "chore: ${nextRelease.version} [skip ci]"
			}
		]
	]
}